.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
node_modules/**
webview/node_modules/**
img

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
